.apiTest {
  min-width: 1069px;
  width: 84%;
  overflow-y: auto;
  overflow-x: hidden;
  /* 滚动条的滑轨背景颜色 */
  /* 滑块颜色 */
  height: 90%;
  top: 100px;
  left: 240px;
  position: absolute;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  padding: 0 10px;
  background: #f8f8f8;
}
.apiTest::-webkit-scrollbar-track {
  background-color: transparent;
}
.apiTest::-webkit-scrollbar {
  width: 5px;
  height: 16px;
  background-color: transparent;
}
.apiTest::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 10px;
}
.apiTest > .buttons {
  margin-bottom: 10px;
  padding-top: 10px;
  position: relative;
}
.apiTest > .buttons > Button {
  margin-right: 5px;
}
.apiTest > .buttons > div > .more {
  position: absolute;
  top: 10px;
  left: 262px;
  z-index: 9;
}
.apiTest > .buttons > div > .more > Button {
  margin-right: 5px;
}
.apiTest > .buttons > div > .more > .more-hide {
  display: none;
}
.apiTest > .buttons > div > .more > .more-hide > Button {
  display: block;
  margin-top: 4px;
}
.apiTest > .apiTest-main > .address {
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
}
.apiTest > .apiTest-main > .address > div {
  float: left;
}
.apiTest > .apiTest-main > .address > .request {
  width: 80px;
  padding: 8px 0px 8px 8px;
}
.apiTest > .apiTest-main > .address > .request > div {
  width: 100%;
}
.apiTest > .apiTest-main > .address > .colon {
  font-weight: 700;
  line-height: 40px;
  padding: 0 8px;
}
.apiTest > .apiTest-main > .address > .url {
  width: 1000px;
  padding: 8px 0px;
}
.apiTest > .apiTest-main > .address > .api-status {
  width: 120px;
  padding: 8px 8px;
}
.apiTest > .apiTest-main > .address > .api-status > div {
  width: 100%;
}
.apiTest > .apiTest-main > .address > .send {
  padding: 8px 0px;
}
.apiTest > .apiTest-main > .request-head {
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
}
.apiTest > .apiTest-main > .request-head .request-head-top {
  width: 96%;
  height: 34px;
  padding-left: 10px;
  font-weight: 700;
  color: #1DA57A;
  line-height: 34px;
  border-bottom: 1px solid #eee;
}
.apiTest > .apiTest-main > .request-head .request-head-list ul li .list_row {
  padding: 10px 0;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
}
.apiTest > .apiTest-main > .request-head .request-head-list ul li .list_row .list_count {
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: block;
  text-align: center;
  float: left;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #f2f2f2;
  color: #a3a3a3;
}
.apiTest > .apiTest-main > .request-head .request-head-list ul li .list_row .close_list {
  float: left;
  margin: 0 5px;
}
.apiTest > .apiTest-main > .request-head .request-head-list ul li .list_row .edit_method {
  float: left;
  width: 160px;
  margin: 0 5px;
}
.apiTest > .apiTest-main > .request-head .request-head-list ul li .list_row .list_name {
  float: left;
  display: block;
  margin: 0 10px;
  padding: 0;
  height: 30px;
  line-height: 30px;
}
.apiTest > .apiTest-main > .request-head .request-head-list ul li .list_row .list_name .list_input {
  width: 230px;
}
.apiTest > .apiTest-main > .request-head .request-head-list ul li .list_row .switch_btn {
  float: left;
  display: block;
  margin: 5px 10px;
}
.apiTest > .apiTest-main > .request-head .request-head-list ul li .list_moreCont {
  padding-left: 135px;
  transition: 1s;
}
.apiTest > .apiTest-main > .request-head .request-head-list ul li .list_moreCont .list_mayBeName {
  float: left;
}
.apiTest > .apiTest-main > .request-head .request-head-list ul li .list_moreCont .list_mayBeBox {
  float: left;
  margin-left: 10px;
}
.apiTest > .apiTest-main > .request-head .request-head-list ul li .list_moreCont .list_mayBeBox .paramsList_row {
  padding: 5px 0;
}
.apiTest > .apiTest-main > .request-head .request-head-list ul li .list_moreCont .list_mayBeBox .paramsList_row .list_count {
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: block;
  text-align: center;
  float: left;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #f2f2f2;
  color: #a3a3a3;
}
.apiTest > .apiTest-main > .request-head .request-head-list ul li .list_moreCont .list_mayBeBox .paramsList_row .close_list {
  float: left;
  margin: 0 5px;
}
.apiTest > .apiTest-main > .request-head .request-head-list ul li .list_moreCont .list_mayBeBox .paramsList_row .list_mayBe_name {
  float: left;
  margin: 0 5px;
  padding: 0;
}
.apiTest > .apiTest-main > .request-head .request-head-list ul li .list_moreCont .list_mayBeBox .paramsList_row .list_mayBe_name .list_mayBe_input {
  width: 160px;
  margin: 0 5px;
}
.apiTest > .apiTest-main > .request-head .request-head-list ul li .list_moreCont .list_mayBeBox .paramsList_row .list_mayBe_name .list_mayBeDescribe_input {
  width: 233px;
  margin: 0 5px;
}
.apiTest > .apiTest-main > .request-parame {
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
}
.apiTest > .apiTest-main > .request-parame .request-parame-top {
  width: 96%;
  height: 34px;
  padding-left: 10px;
  font-weight: 700;
  color: #1DA57A;
  line-height: 34px;
  border-bottom: 1px solid #eee;
}
.apiTest > .apiTest-main > .request-parame .request-parame-list ul li .list_row {
  padding: 10px 0;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
}
.apiTest > .apiTest-main > .request-parame .request-parame-list ul li .list_row .list_count {
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: block;
  text-align: center;
  float: left;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #f2f2f2;
  color: #a3a3a3;
}
.apiTest > .apiTest-main > .request-parame .request-parame-list ul li .list_row .close_list {
  float: left;
  margin: 0 5px;
}
.apiTest > .apiTest-main > .request-parame .request-parame-list ul li .list_row .edit_method {
  float: left;
  margin: 0 5px;
}
.apiTest > .apiTest-main > .request-parame .request-parame-list ul li .list_row .list_name {
  float: left;
  display: block;
  margin: 0 10px;
  padding: 0;
  height: 30px;
  line-height: 30px;
}
.apiTest > .apiTest-main > .request-parame .request-parame-list ul li .list_row .list_name .list_input {
  width: 300px;
}
.apiTest > .apiTest-main > .request-parame .request-parame-list ul li .list_row .switch_btn {
  float: left;
  display: block;
  margin: 5px 10px;
}
.apiTest > .apiTest-main > .request-parame .request-parame-list ul li .list_moreCont {
  padding-left: 135px;
  transition: 1s;
}
.apiTest > .apiTest-main > .request-parame .request-parame-list ul li .list_moreCont .list_mayBeName {
  float: left;
}
.apiTest > .apiTest-main > .request-parame .request-parame-list ul li .list_moreCont .list_mayBeBox {
  float: left;
  margin-left: 10px;
}
.apiTest > .apiTest-main > .request-parame .request-parame-list ul li .list_moreCont .list_mayBeBox .paramsList_row {
  padding: 5px 0;
}
.apiTest > .apiTest-main > .request-parame .request-parame-list ul li .list_moreCont .list_mayBeBox .paramsList_row .list_count {
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: block;
  text-align: center;
  float: left;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #f2f2f2;
  color: #a3a3a3;
}
.apiTest > .apiTest-main > .request-parame .request-parame-list ul li .list_moreCont .list_mayBeBox .paramsList_row .close_list {
  float: left;
  margin: 0 5px;
}
.apiTest > .apiTest-main > .request-parame .request-parame-list ul li .list_moreCont .list_mayBeBox .paramsList_row .list_mayBe_name {
  float: left;
  margin: 0 5px;
  padding: 0;
}
.apiTest > .apiTest-main > .request-parame .request-parame-list ul li .list_moreCont .list_mayBeBox .paramsList_row .list_mayBe_name .list_mayBe_input {
  width: 160px;
  margin: 0 5px;
}
.apiTest > .apiTest-main > .request-parame .request-parame-list ul li .list_moreCont .list_mayBeBox .paramsList_row .list_mayBe_name .list_mayBeDescribe_input {
  width: 233px;
  margin: 0 5px;
}
.apiTest > .apiTest-main > .request-header {
  background-color: #fff;
  margin-bottom: 10px;
  line-height: 22px;
}
.apiTest > .apiTest-main > .request-header > .request-parame-top {
  width: 96%;
  height: 34px;
  padding-left: 10px;
  font-weight: 700;
  color: #1DA57A;
  line-height: 34px;
  border-bottom: 1px solid #eee;
}
.apiTest > .apiTest-main > .request-header > .switch_btn {
  margin: 5px 10px;
}
.apiTest > .apiTest-main > .complete {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  background-color: #fff;
}
.apiTest > .apiTest-main > .complete pre {
  min-height: 400px;
}
.apiTest > .apiTest-main > .complete > Button {
  position: absolute;
  top: 0px;
  right: 40px;
}
.apiTest > .apiTest-main > .jsonEditorBox {
  height: 430px;
  /*左侧的边*/
  /*上面的边*/
}
.apiTest > .apiTest-main > .jsonEditorBox .jsonTabBox {
  overflow: hidden;
}
.apiTest > .apiTest-main > .jsonEditorBox .jsonTabBox .jsonTabTitle {
  overflow: hidden;
  height: 30px;
  padding-left: 10px;
  font-weight: 700;
  color: #1DA57A;
  line-height: 30px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}
.apiTest > .apiTest-main > .jsonEditorBox .jsonTabBox .jsonTabCont {
  width: 100%;
  height: 400px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  position: relative;
}
.apiTest > .apiTest-main > .jsonEditorBox .jsonTabBox .jsonTabCont p {
  padding-top: 180px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #CCCCD6;
}
.apiTest > .apiTest-main > .jsonEditorBox .jsonTabBox .jsonTabCont .jsonTabEditCont {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 400px;
}
.apiTest > .apiTest-main > .jsonEditorBox .jsonTabBox .jsonTabCont .jsonTabContPre {
  position: absolute;
  width: 100%;
  height: 400px;
  background-color: #fff;
  overflow-y: scroll;
  /* 滚动条的滑轨背景颜色 */
  /* 滑块颜色 */
}
.apiTest > .apiTest-main > .jsonEditorBox .jsonTabBox .jsonTabCont .jsonTabContPre::-webkit-scrollbar-track {
  background-color: transparent;
}
.apiTest > .apiTest-main > .jsonEditorBox .jsonTabBox .jsonTabCont .jsonTabContPre::-webkit-scrollbar {
  width: 5px;
  height: 16px;
  background-color: transparent;
}
.apiTest > .apiTest-main > .jsonEditorBox .jsonTabBox .jsonTabCont .jsonTabContPre::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 10px;
}
.apiTest > .apiTest-main > .jsonEditorBox .ant-tabs-bar {
  margin-bottom: 0;
}
.apiTest > .apiTest-main > .jsonEditorBox .jsoneditor {
  border: 0;
}
.apiTest > .apiTest-main > .jsonEditorBox .jsoneditor-menu {
  background-color: rgba(29, 165, 122, 0.8);
  border-bottom: 1px solid rgba(29, 165, 122, 0.8);
  border-radius: 3px;
}
.apiTest > .apiTest-main > .jsonEditorBox .ace_content {
  background-color: #f8f8f8;
}
.apiTest > .apiTest-main > .jsonEditorBox .border-bottom {
  border-bottom: 0;
}
.apiTest > .apiTest-main > .history {
  width: 100%;
  margin-bottom: 10px;
  background-color: #fff;
}
.apiTest > .apiTest-main > .history .history-top {
  width: 96%;
  height: 34px;
  padding-left: 10px;
  font-weight: 700;
  color: #1DA57A;
  line-height: 34px;
  border-bottom: 1px solid #eee;
}
.apiTest > .apiTest-main > .history .history-list ul li .list_row {
  padding: 10px 0;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
}
.apiTest > .apiTest-main > .history .history-list ul li .list_row .list_count {
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: block;
  text-align: center;
  float: left;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #f2f2f2;
  color: #a3a3a3;
}
.apiTest > .apiTest-main > .history .history-list ul li .list_row .close_list {
  float: left;
  margin: 0 5px;
}
.apiTest > .apiTest-main > .history .history-list ul li .list_row .edit_method {
  float: left;
  width: 160px;
  margin: 0 5px;
}
.apiTest > .apiTest-main > .history .history-list ul li .list_row .list_name {
  float: left;
  display: block;
  margin: 0 10px;
  padding: 0;
  height: 30px;
  line-height: 30px;
  font-weight: 700;
  cursor: pointer;
}
.apiTest > .apiTest-main > .history .history-list ul li .list_row .list_name > .list-span {
  margin-right: 50px;
}
.apiTest > .apiTest-main > .history .history-list ul li .list_row .switch_btn {
  float: left;
  display: block;
  margin: 5px 10px;
}
.apiTest > .apiTest-main > .history .history-list ul li .list_moreCont {
  padding-left: 135px;
  transition: 1s;
}
.apiTest > .apiTest-main > .history .history-list ul li .list_moreCont .list_mayBeName {
  float: left;
}
.apiTest > .apiTest-main > .history .history-list ul li .list_moreCont .list_mayBeBox {
  float: left;
  margin-left: 10px;
}
.apiTest > .apiTest-main > .history .history-list ul li .list_moreCont .list_mayBeBox .paramsList_row {
  padding: 5px 0;
}
.apiTest > .apiTest-main > .history .history-list ul li .list_moreCont .list_mayBeBox .paramsList_row .list_count {
  width: 25px;
  height: 25px;
  line-height: 25px;
  display: block;
  text-align: center;
  float: left;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #f2f2f2;
  color: #a3a3a3;
}
.apiTest > .apiTest-main > .history .history-list ul li .list_moreCont .list_mayBeBox .paramsList_row .close_list {
  float: left;
  margin: 0 5px;
}
.apiTest > .apiTest-main > .history .history-list ul li .list_moreCont .list_mayBeBox .paramsList_row .list_mayBe_name {
  float: left;
  margin: 0 5px;
  padding: 0;
}
.apiTest > .apiTest-main > .history .history-list ul li .list_moreCont .list_mayBeBox .paramsList_row .list_mayBe_name .list_mayBe_input {
  width: 160px;
  margin: 0 5px;
}
.apiTest > .apiTest-main > .history .history-list ul li .list_moreCont .list_mayBeBox .paramsList_row .list_mayBe_name .list_mayBeDescribe_input {
  width: 233px;
  margin: 0 5px;
}
.modal-line {
  height: 36px;
}
