.codeDetail {
  min-width: 1069px;
  width: 84%;
  height: 100%;
  position: absolute;
  top: 100px;
  left: 0px;
  margin-right: 5px;
  margin-left: 240px;
  padding-left: 10px;
  padding-bottom: 110px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  overflow-y: auto;
  overflow-x: hidden;
  background: #f8f8f8;
  /* 滚动条的滑轨背景颜色 */
  /* 滑块颜色 */
}
.codeDetail::-webkit-scrollbar-track {
  background-color: transparent;
}
.codeDetail::-webkit-scrollbar {
  width: 5px;
  height: 16px;
  background-color: transparent;
}
.codeDetail::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 10px;
}
.codeDetail > .buttons {
  margin-bottom: 10px;
  padding-top: 10px;
  position: relative;
}
.codeDetail > .buttons > Button {
  float: left;
  margin-right: 5px;
}
.codeDetail > .buttons > div > .more {
  position: absolute;
  top: 10px;
  left: 194px;
  z-index: 9;
}
.codeDetail > .buttons > div > .more > Button {
  margin-right: 5px;
}
.codeDetail > .buttons > div > .more > .more-hide {
  display: none;
}
.codeDetail > .buttons > div > .more > .more-hide > Button {
  display: block;
  margin-top: 4px;
}
.codeDetail > .buttons > .last-time {
  float: right;
  margin-right: 50px;
  color: #000;
}
.codeDetail > .codeDetail-main > .requestTable {
  width: 100%;
  margin-bottom: 20px;
  color: #fff;
}
.codeDetail > .codeDetail-main > .requestTable .requestTable-key {
  max-width: 300px;
}
.codeDetail > .codeDetail-main > .requestTable .request > .request-index {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-color: #F8F8F8;
  text-align: center;
  line-height: 20px;
  border-radius: 2px;
}
.codeDetail > .codeDetail-main > .requestTable .request > .request-value {
  float: left;
  width: 50px;
  height: 20px;
  background-color: #1DA57A;
  text-align: center;
  line-height: 20px;
  border-radius: 2px;
}
.codeDetail > .codeDetail-main > .requestTable .request > .gray {
  background-color: #F8F8F8;
  color: #999;
}
.codeDetail > .codeDetail-main > .requestTable .parameter > .parameter-key {
  font-weight: bold;
}
.codeDetail > .codeDetail-main > .requestTable .parameter > .parameter-dec {
  color: #999;
}
.codeDetail > .codeDetail-main > .requestTable .key > .key-index {
  width: 100%;
  margin-bottom: 2px;
}
.codeDetail > .codeDetail-main > .requestTable .key > .key-index > span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #F8F8F8;
  text-align: center;
  line-height: 20px;
  border-radius: 2px;
  margin-right: 4px;
}
.codeDetail > .codeDetail-main > .requestTable .explain > .explain-index {
  width: 100%;
  height: 20px;
  margin-bottom: 2px;
  line-height: 20px;
}
.codeDetail > .codeDetail-main > .requestTable table {
  background-color: #fff;
}
.codeDetail > .codeDetail-main > .requestTable .description {
  max-width: 300px;
}
.codeDetail > .codeDetail-main > .complete {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  background-color: #fff;
}
.codeDetail > .codeDetail-main > .complete pre {
  min-height: 400px;
}
.codeDetail > .codeDetail-main > .complete > Button {
  position: absolute;
  top: 0px;
  right: 40px;
}
.codeDetail > .codeDetail-main > .jsonEditorBox {
  height: 430px;
  /*左侧的边*/
  /*上面的边*/
}
.codeDetail > .codeDetail-main > .jsonEditorBox .jsonTabBox {
  overflow: hidden;
}
.codeDetail > .codeDetail-main > .jsonEditorBox .jsonTabBox .jsonTabTitle {
  overflow: hidden;
  height: 30px;
  line-height: 30px;
  margin-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}
.codeDetail > .codeDetail-main > .jsonEditorBox .jsonTabBox .jsonTabTitle li {
  float: left;
  cursor: pointer;
  margin-top: -2px;
  text-align: center;
  width: 80px;
  font-weight: initial;
  font-size: 14px;
}
.codeDetail > .codeDetail-main > .jsonEditorBox .jsonTabBox .jsonTabTitle li.jsonActive {
  border-bottom: 2px solid #66bb6a;
  color: #66bb6a;
}
.codeDetail > .codeDetail-main > .jsonEditorBox .jsonTabBox .jsonTabCont {
  width: 100%;
  height: 400px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  position: relative;
}
.codeDetail > .codeDetail-main > .jsonEditorBox .jsonTabBox .jsonTabCont .jsonTabEditCont {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 400px;
}
.codeDetail > .codeDetail-main > .jsonEditorBox .jsonTabBox .jsonTabCont .jsonTabContPre {
  position: absolute;
  width: 100%;
  height: 400px;
  background-color: #f8f8f8;
  overflow-y: scroll;
  /* 滚动条的滑轨背景颜色 */
  /* 滑块颜色 */
}
.codeDetail > .codeDetail-main > .jsonEditorBox .jsonTabBox .jsonTabCont .jsonTabContPre::-webkit-scrollbar-track {
  background-color: transparent;
}
.codeDetail > .codeDetail-main > .jsonEditorBox .jsonTabBox .jsonTabCont .jsonTabContPre::-webkit-scrollbar {
  width: 5px;
  height: 16px;
  background-color: transparent;
}
.codeDetail > .codeDetail-main > .jsonEditorBox .jsonTabBox .jsonTabCont .jsonTabContPre::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 10px;
}
.codeDetail > .codeDetail-main > .jsonEditorBox .ant-tabs-bar {
  margin-bottom: 0;
}
.codeDetail > .codeDetail-main > .jsonEditorBox .jsoneditor {
  border: 0;
}
.codeDetail > .codeDetail-main > .jsonEditorBox .jsoneditor-menu {
  background-color: rgba(29, 165, 122, 0.8);
  border-bottom: 1px solid rgba(29, 165, 122, 0.8);
  border-radius: 3px;
}
.codeDetail > .codeDetail-main > .jsonEditorBox .ace_content {
  background-color: #f8f8f8;
}
.codeDetail > .codeDetail-main > .jsonEditorBox .border-bottom {
  border-bottom: 0;
}
.codeDetail > .codeDetail-main > .remarks {
  border-radius: 4px;
}
.codeDetail > .codeDetail-main > .remarks > .remarks-title {
  padding: 8px 0 8px 8px;
  line-height: 1;
  border: 1px solid #E9E9E9;
  background-color: #fff;
}
.codeDetail > .codeDetail-main > .remarks > .ql-snow {
  min-height: 50px;
  overflow: hidden;
}
.codeDetail > .codeDetail-main > .remarks .remarks-content {
  min-height: 50px;
  background-color: #fff;
  /* 滚动条的滑轨背景颜色 */
  /* 滑块颜色 */
}
.codeDetail > .codeDetail-main > .remarks .remarks-content::-webkit-scrollbar-track {
  background-color: transparent;
}
.codeDetail > .codeDetail-main > .remarks .remarks-content::-webkit-scrollbar {
  width: 5px;
  height: 16px;
  background-color: transparent;
}
.codeDetail > .codeDetail-main > .remarks .remarks-content::-webkit-scrollbar-thumb {
  background-color: #ddd;
  border-radius: 10px;
}
.clearfix:after {
  content: ' ';
  height: 0;
  display: block;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
