.codeList {
  min-width: 1069px;
  margin-left: 250px;
  margin-right: 5px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  padding-left: 10px;
}
.codeList .buttons {
  margin-bottom: 10px;
  padding-top: 10px;
}
.codeList Button {
  margin-right: 5px;
}
.cooperationDialog {
  width: 300px !important;
  position: relative;
}
.cooperationDialog .ant-modal-footer {
  display: none !important;
}
.cooperationDialog .ant-modal-body {
  height: 450px;
}
.cooperationList {
  font-size: 18px;
  line-height: 40px;
}
.cooperationList > .adminName {
  margin-left: 10px;
  display: block;
  width: 200px;
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cooperationList > .adminName:after {
  content: "♔";
  color: #f0ad4e;
  margin-left: 10px;
}
.cooperationList > li {
  border-top: 1px dashed #ccc;
  padding-left: 10px;
  overflow: hidden;
}
.cooperationList > li > .delCooperation {
  float: right;
  font-size: 16px;
  margin-top: 12px;
  margin-right: 10px;
  cursor: pointer;
}
.cooperationList > li > span {
  float: left;
  display: block;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.optionList {
  display: block;
  width: 236px;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
}
.optionList > b {
  font-weight: normal;
  display: block;
  text-align: center;
}
.addCooperation {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}
.searchInput input {
  height: 35px;
}
.searchInput .ant-input-suffix {
  width: 30px;
  height: 30px;
  display: inline-block;
  right: 0;
  cursor: pointer;
}
.searchInput .ant-input-suffix .searchBtn {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.searchInput .ant-input-suffix .searchBtn:before {
  padding-top: 10px;
  height: 30px;
}
.description {
  max-width: 400px;
}
.code-container tr {
  cursor: pointer;
}
