.http-container {
  width: 1200px;
  height: 95%;
  margin: 0 auto;
  padding: 10px 0 30px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow-y: scroll;
}
.http-container table,
.http-container td,
.http-container tr {
  border: 1px solid #ccc;
}
.http-container table {
  border-collapse: collapse;
}
.http-container table tr td {
  padding: 10px;
}
.http-container table tr td:first-of-type {
  width: 100px;
  text-align: center;
}
.http-container table tr:hover {
  background-color: rgba(206, 206, 206, 0.5);
}
#httpBox {
  height: 100%;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 4px;
  background: #cecece;
}
