.mainNav {
  width: 100%;
  height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  background: #fff;
}
.mainNav > .apicode {
  float: left;
  margin-left: 20px;
  height: 40px;
  margin-top: 5px;
  cursor: pointer;
}
.mainNav > .apicode > img {
  height: 100%;
}
.mainNav > .projectManageBtn {
  float: left;
  margin-left: 30px;
  text-decoration: none;
  display: inline-block;
  width: 100px;
  border-radius: 30px;
  border: 1px solid #fff;
  color: #acacac;
  padding: 5px 8px;
  text-align: center;
  margin-top: 9px;
  cursor: pointer;
}
.mainNav > .projectManageBtn > span .inbox {
  margin-right: 5px;
}
.mainNav > .projectManageBtn:hover {
  background: #00b17d;
  color: #fff;
}
.mainNav > .navActive {
  border: 1px solid #00b7a8;
  color: #00b7a8;
}
.mainNav > .userInfoMenu {
  width: 100px;
  border-radius: 30px;
  border: 1px solid #ccc;
  color: #acacac;
  padding: 6px 38px;
  text-align: center;
  margin-top: 9px;
  cursor: pointer;
  height: auto;
  margin-right: 50px;
  float: right;
}
.mainNav > .userInfoMenu:hover {
  background: #00b17d;
  color: #fff;
}
.navUserName {
  cursor: inherit !important;
  background: none !important;
  color: rgba(0, 0, 0, 0.65) !important;
}
.navUserName:hover {
  background: none !important;
}
